# Please indent options with one tab when editing defaults in
# https://github.com/stripe-internal/marionette-puppet-config/blob/master/modules/git/templates/gitconfig.erb
# That matches how "git config --global" edits the file.

[user]
	name = luke miles
        email = "luke@lukemil.es"

[push]
        default = simple

# http://stackoverflow.com/questions/18257622/why-is-git-core-preloadindex-default-value-false
[core]
        preloadindex = true
	ignorecase = false
	excludesfile = /Users/ylukem/.gitignore_global
[alias]
	b = browse
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	p = "!git push -u origin $(git branch-name)"
	mb = !git branch --sort=-creatordate | cut -c3- | xargs git show --no-patch --date=short --pretty=format:'%C(green)%ad%C(reset) %C(magenta)%C(italic)%<(40,trunc)%S%C(reset) %C(auto)%h %C(blue)%<(15,trunc)%an %C(auto)%<(65,trunc)%s%D%C(reset)' --color=always | fzf --ansi | awk '{print $2}' | xargs git switch 
	co = checkout
	npr = "pull-request"
	remain = fetch origin main:main
	remaster = fetch origin master:master
	pf = push --force
[hub]
	host = git.corp.stripe.com
[pull]
	rebase = true
[init]
	defaultBranch = main
