/*Remove circle, background and padding from back button */
:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  background-color: unset !important;
  border: unset !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

:root:not([uidensity="compact"])
  #back-button:hover:not([disabled])
  > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
}
:root:not([uidensity="compact"])
  #back-button:active:not([disabled])
  > .toolbarbutton-icon {
  background-color: var(
    --toolbarbutton-active-background
  ) !important; /* Hover and Active states to mimic other buttons */
}

:root:not([uidensity="compact"]) #back-button {
  padding-inline-start: 3px !important; /* Remove pre-padding */
}

/* Remove "Send Page to Device", "Send Link to Device" */
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator {
  display: none !important;
}

/* Sane padding & font size for the sidebar header */
#sidebar-header {
  padding: 4px !important;
}
#sidebar-title {
  font-size: 12px;
}

#TabsToolbar,
#nav-bar,
#navigator-toolbox,
#nav-bar {
  -moz-appearance: none !important;
}

.tabbrowser-tab {
  visibility: hidden !important;
}

.tabbrowser-arrowscrollbox > * {
  background-image: none !important; /* shadow fix */
}

#navigator-toolbox {
  --toolbar-bgcolor: #202020;
  background: var(--toolbar-bgcolor);
}
.browser-toolbar:not(.titlebar-color) {
  background: none !important;
}

.titlebar-spacer {
  display: none;
}

#main-window[privatebrowsingmode] #nav-bar {
  margin-left: 97px;
}

#TabsToolbar .toolbar-items {
  background: white !important;
  visibility: collapse;
} /* hide JUST the tabs, leaving JUST the window controls */
#TabsToolbar {
  -moz-appearance: white !important;
  margin-bottom: -42px; /* push window controls down into same vertical space as the nav-bar */
  height: 42px; /* make the window controls roughly the same height as the nav-bar */
}
#nav-bar {
  background: transparent !important; /* optional -make nav-bar background look the same as the window controls background */
  font-family: "Iosevka Term SS05";
  font-weight: 200;
}

.titlebar-buttonbox-container {
  display: none;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  #sidebar-header {
  display: none;
}

#sidebar {
  min-width: 100px !important;
}

#reload-button,
#back-button,
#forward-button,
#stop-button {
  display: none;
}

:root[uidensity="compact"] #urlbar,
:root[uidensity="compact"] .searchbar-textbox {
  font-size: 14px !important;
  min-height: 28px !important;
}

:root[uidensity="compact"] #identity-box {
  max-height: 28px;
}

:root[uidensity="compact"] #nav-bar .toolbarbutton-1 {
  padding: 0px !important;
}

/* Compatibility with auto-hide.css */
:root[uidensity="compact"] #navigator-toolbox {
  --nav-bar-height: 28px !important;
}

:root {
  --toolbarbutton-inner-padding: 0px !important;
}
#userContext-indicator {
  display: none;
}

#urlbar-container {
  padding-block: 0px !important;
}

#userContext-label {
  text-transform: lowercase;
  font-size: 10px;
}

#userContext-icons,
#urlbar-zoom-button {
  margin-inline: 0px;
}

#urlbar-background {
  background-color: var(--toolbar-bgcolor) !important;
  border-color: transparent !important;
}

#urlbar:not(.searchButton)
  > #urlbar-input-container
  > #identity-box[pageproxystate="invalid"]
  > #identity-icon {
  display: none;
}

#PanelUI-menu-button {
  margin-right: 8px !important;
}

.sharing-icon,
#identity-icon,
#permissions-granted-icon,
#tracking-protection-icon,
.notification-anchor-icon,
#blocked-permissions-container > .blocked-permission-icon,
#tracking-protection-icon-box {
  height: 12px !important;
  width: 12px !important;
}

toolbarbutton {
  scale: 0.8;
  filter: grayscale(1);
}
